<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="grgr.localproxy.proxycore.ProxyService"
            android:label="WifiProxyService"
            android:launchMode="singleTop"
            android:stopWithTask="false">
            <!--android:process=":UCIntlmService"-->
        </service>
    </application>
</manifest>